// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


// 2. Include any default variable overrides here
/* ---------------------------- Colors ---------------------------- */
$primary: #0073F6;
$secondary: #B1AAAA; 

/* ---------------------------- Box-shadow --------------------------- */
$box-shadow:                  0 .5rem 1rem rgba($primary, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($primary, .075);
// $box-shadow-lg:               0 1rem 3rem rgba($primary, .175);
$box-shadow-lg:               0 1rem 2rem -0.5rem rgba($primary, .4);
$box-shadow-inset:            inset 0 1px 2px rgba($primary, .075);

/* --------------------------------- Buttons -------------------------------- */
$input-btn-font-family: 'Montserrat', sans-serif;
$input-btn-focus-width: 0rem;

// $btn-font-size:         1.125rem;  //default bs value
// btn font size is set after rfs import
$btn-padding-y:         1em;
$btn-padding-x:         2em;

$btn-link-color:      rgba(30, 28, 36, .55);

/* ------------------------------- Typography ------------------------------- */
$font-family-base: Muli, 'sans-serif';
$headings-font-family: Muli, 'sans-serif';
$headings-font-weight:        900;
$headings-line-height:        1.1;
// $h1-font-size: 1rem * 3.75; /*60px*/

/* -------------------------------------------------------------------------- */
/*                                   Mixins                                 */
/* -------------------------------------------------------------------------- */

 /* -------------------------------------------------------------------------- */
 /*                    Then add additional custom code here                    */
 /* -------------------------------------------------------------------------- */

@import "../../node_modules/bootstrap/scss/bootstrap";


.btn-link {
  font-weight: 400;
}

p{
  font-size: .875rem; //14px
}

.boxShadowHover {
  &:hover {
    box-shadow: $box-shadow-lg;
    background-color: $primary;
  }
  &:hover * {
    color: #fff;
  }
  &:hover h3:only-of-type{
    text-decoration: underline;
  }
}


@import "../../node_modules/bootstrap/scss/vendor/rfs";

.hero__title {
  @include font-size(15.625rem); 

  @include media-breakpoint-down(lg) {
    @include font-size(11.625rem);  
  }

}

.hero__lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  @include font-size(1.125rem); 
  @include media-breakpoint-down(lg) {
    @include font-size(.875rem); 
  }
}

.btn{
  @include font-size(1rem);
  @include media-breakpoint-down(lg){
    @include font-size(.875rem);
  }
}

.features {
  @include padding-top(23rem);
}

// these are bs desault variables, $font-size-base=1rem, 
// $h1-font-size:                $font-size-base * 2.5 !default; //=2.5rem
// $h2-font-size:                $font-size-base * 2 !default;  //=.2rem
// $h3-font-size:                $font-size-base * 1.75 !default; //=1.75rem
h1,
.h1 {
  @include font-size(9.375rem); //150px
  @include rfs(900, font-weight);
}

h2,
.h2 {
  @include font-size(3.75rem); //60px
  @include rfs(900, font-weight);
}
h3,
.h3 {
  @include font-size(1.875rem); //30px
}

/* --------------------------------- General -------------------------------- */
body {
	overflow-x: hidden;
}
/* ---------------------------------- Hero ---------------------------------- */
@keyframes clouding {
	0% {
		transform: translateX(0);
		opacity: .8;
	}
	50% {
		opacity: .9;
	}
	100% {
		transform: translate(200px, -2px);
		opacity: 1;
	}
}

.hero__title {
	position: relative;
	font-weight: 900;
	letter-spacing: -4px;
	z-index: -2;
}
.hero__cloud__col {
	top: 9%;
	z-index: -1;
}
.hero__cloud {
	opacity: .8;
	animation: clouding 20s alternate ease-in-out infinite 1s;
}
/* -------------------------------- Features -------------------------------- */
.features {
	position: relative;
	.col.boxShadowHover {
		border-radius: 4px;
	}
}

/* ---------------------------------- Works --------------------------------- */
.works-img {
	height: 558px;
}
.works-text {
	width: auto;
	height: auto;
}
/* ---------------------------------- CTA --------------------------------- */
section.cta {
  @include margin-top(15em);
}
.cta {
	background: url("../img/mountains-footer-576w.webp") no-repeat bottom center;
	background-size: contain;
	height: 24em;
	position: relative;
	&:not(img) {
		z-index: 1;
	}
}

// sm: >= 576px
@media (min-width: 576px) {
	.cta {
		background: url("../img/mountains-footer-768w.webp") no-repeat bottom center;
		background-size: contain;
		height: 30em;
		}
}
// md: >= 768px
@media (min-width: 768px) {
	.cta {
		background: url("../img/mountains-footer-992w.webp") no-repeat bottom center;
		background-size: contain;
		height: 35em;
	}
}
// upto lg: >=992px
@media (min-width: 992px) {
	.cta {
		background: url("../img/mountains-footer-1930w.webp") no-repeat bottom center;
		background-size: cover;
		height: 43em;
	}
}

/* ------------------------------ Media Queries ----------------------------- */
// Load img only after md screens
@media (min-width: 768px) {
	section.hero {
		&::before {
			content: '';
			position: absolute;
			background: url("../img/Mask1.webp") no-repeat right center;
			background-size: contain;
			height: 100%;
			width: 100vw;
			top: 0;
			z-index: -1;
		}
	}
	.features {
		&::before {
			content: '';
			position: absolute;
			background: url("../img/Mask2.webp") no-repeat left center;
			background-size: contain;
			height: 50%;
			width: 100vw;
			top: 0;
			left: -5%;
			z-index: -1;
		}
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	section.hero {
		&::before {
			transform: translate(-3%, 30%);
		}
	}
	.features {
		&::before {
			transform: translate(0%, 80%);
		}
	}
}

@media (min-width: 1200px) {
	section.hero {
		&::before {
			transform: translate(-5%, 25%);
		}
	}
	.features {
		&::before {
			transform: translate(-3%, 85%);
		}
	}
}

@media (min-width: 768px) {
	.hero__cloud__col {
		top: 18%;
	}
	.works {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			right: -10%;
			top: 10%;
			height: 100%;
			width: 100vw;
			background: url("../img/WORKS.webp") no-repeat right top;
			z-index: -1;
		}
	}
	.cta {
		&::before {
			content: "";
			position: absolute;
			top: -40%;
			right: -20%;
			background: url("../img/footer-blue-bar.webp") no-repeat right center;
			background-size: contain;
			height: 100%;
			width: 100%;
			z-index: 0;
		}
	}
}
